*{
    margin: 0 ;
    list-style: none;   
    text-decoration: none; }

footer{
    background-color: green;
    padding: 10px;
}


.footer1{

}
.space{
    padding:0 10px 0 0;
}
.footer2{
    display: flex;
    
}
.oss{

}
.main-footer{

}
.ulfooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}