
body{
    background-color: #000000;
    color: #27d4d4;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
    margin: 0 auto;
}
header{
    display:flex;
    justify-content:center;
    font-family: Arial, Helvetica, sans-serif;
}


nav {
    background-color: #0C6980;
}


nav ul{
    list-style-type:none;
    padding: 0;
    display:flex;

    justify-content: flex-start;
}
nav ul li{
    flex: 1;
}
nav a{
    text-decoration: none;
    color:#222;
    display:block;
    padding: 12px;
    margin: 0;
}

#showcase h3{
    text-align: center;
}
#showcase p{
    text-align: center;
}

.container-3{
    margin:100px;
    display:flex;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 12px;
}
.boxes{
    width: auto;
    background-color: #0C6980;
    box-shadow: 0 4px 8px 0 #000;
}
.description{
    color: #000;
}
footer{
    background-color: #0C6980;

}
.main-footer ul{
    list-style-type:none;
    padding: 10px;
    margin:0;
    display:flex;
    justify-content: center;
    justify-content: space-around;
}
.cr-footer{
    margin: 5px 0px 0px 5px;
}
.cr-footer a{
    color: #27d4d4;
    text-decoration: none;
}
@media only screen and (max-width: 3840px){
    .photo{
        height: 300px;
        max-width: 100%;
        width: 1000px;
        background-image:  url("./bilder/deadmau5_showcase.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
@media only screen and (max-width: 768px){
    div.photo{

        width:100%;
    }
    div.container{
        display: flex;
        max-width:100%;
        flex-wrap:wrap;
        flex-direction: column;
    }
    nav{
        display:flex;
        justify-content: space-around;
        flex-wrap:wrap;
               
    }
    nav ul{
        display:block;
    }
    footer{
        display:none;
    }
    .container-3{
        margin:0 0 10px;
        display:flex;
        justify-content: center;
        flex-wrap: wrap;    
    }

    #albums{
        display:flex;
    }
}
@media (hover:hover){
    nav a:hover {
        background-color: #000;
        color: #fff;
        transition: 0.3s;
    }
    .bild2:hover{

        height: 400px;
        width: 650px;
        transition: .7s;
    }
}